

html,body {
  height:100%;
  font-family: "Open Sans", sans-serif;
  /* border: dashed purple; */
}


.OuterDiv{
  /* border: dashed red;  */
  height: 100%; 
  /* For DesktopView Display:flex */

}

#customBtn {
  display: inline-block;
  background: white;
  width: 200px;
  border-radius: 5px;
  border: thin solid #888;
  white-space: nowrap;
}

#customBtn:hover {
  cursor: pointer;
}

span.icon {
  background: url('./pictures/g-normal.png') transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}

span.buttonText {
  display: inline-block;
  color: #696969;
  vertical-align: middle;
  padding-right: 42px;
  font-size: 15px;
  font-weight: 600;
}

.TopDiv{
  /* The flexbox is fore */
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  
  /* border: dashed blue; */
  height:40%;
  width:100%;
  background: #ffffff;

  /* For desktopView change hgiht to 100% */

}
.image{
  min-width: 250px;
  width:40%;
  /* For DesktopView Change image width to 80 */
}

.introText{

  width:65%;
}


.BotDiv{
  /* border: dashed black; */
  height:60%;
  width:100%;

  display:flex;
  flex-direction:column;
  align-items: center;
  /* justify-content: space-evenly; */

  background: #333333;
  /* For DesktopView Change height to 100%  */
}

#WelcomeToTractivity{
  color: #53e0cd;
  font-size: 23px;
    padding-top: 80px;
}

#LoginText{
  color: #ffffff;
  font-size: 1em;
  display:flex;
  justify-content: center;
  padding-top: 65px;
  padding-bottom: 20px;
}

button{
    width:100%;
    height:100%;
}
#rightImage{
  padding-top: 50px;
}

/* For Desktop View Change 
  Outerdiv to Display Flex 
  top Div and Bot Div to height:100% 

*/



@media only screen and (min-width: 768px) {
  #LoginText {

    /* font-size:2em; * Changed this to be the same as Welcome to Tactivity/
  }

  .button{
    width:100%;
    height:100%;
  }


  #WelcomeToTractivity{
    /* font-size: 1.5em; */
    padding-top: 3em;
    padding-bottom: 3em;
  
  }

  .OuterDiv{
    /* border: dashed red;  */
    /* height: 100%;  */
    display: flex;
    /* For DesktopView Display:flex */
  
  }


    
  .TopDiv{
    /* The flexbox is fore */
    display:flex;
    height:100%;
    width: 60% ;
    font-size: 1.5em;
    /* For desktopView change hgiht to 100% */
  }
    
  .BotDiv{
    /* border: dashed black; */
    height:100%;
    width: 40% ;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;

    background: #333333;
    /* For DesktopView Change height to 100%  */
  }

  #LeftImage{
    width:100%;
    max-width: 500px;
  }

  #rightImage{
    max-width:500px;
  }

  .introText{
    width:65%;
    max-width: 450px ;
  }


} 
/*  End MEdia Query */




